<!--Calling/Index.cshtml allows the user to choose one
    of their classes to call on.
    This page is reached by clicking "Call on Students" on
    the nav bar or choosing no from VerifyStudents.cshtml.-->
@{
    ViewBag.Title = "Select a Class";
}


<!--Will call the index method with the POST attribute on 
    the calling controller.-->
<form method="post">
    <fieldset>
        <legend>
            Which class would you like to cold call?
        </legend>
        <!--Looks for StudentClass and finds a list of the same 
            name in the view bag.-->
        @Html.DropDownList("StudentClass")

        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>

