@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Classroom Cold Caller is an open source project for use in classrooms.  
    It is free to use and you can fork it on Github if you want to modify it.</p>
